<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfXScope.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfXScope.Properties.Settings>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawScopeLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScopeBackground" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="GridLineColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="Channel1Color" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="Channel2Color" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="TickMarkColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="DrawTickMarks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawGridLines" serializeAs="String">
                <value>False</value>
            </setting>
        </WpfXScope.Properties.Settings>
    </userSettings>
</configuration>