<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40-Client" />
  <package id="Extended.Wpf.Toolkit" version="2.0.0" targetFramework="net40-Client" />
  <package id="ModernUI.WPF" version="1.0.5" targetFramework="net40-Client" />
  <package id="PixelLab.BOT" version="6.0.2" targetFramework="net40-Client" />
  <package id="PixelLab.Common" version="6.0.2" targetFramework="net40-Client" />
  <package id="PixelLab.Core" version="6.0.2" targetFramework="net40-Client" />
  <package id="Prism" version="4.1.0.0" targetFramework="net40-Client" />
</packages>